<!DOCTYPE html>
<html 
    lang="en" 
    xmlns="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}"
    >
    <head>
        <title>Cinetrailer</title>
    </head>
    
    <div layout:fragment="content">
        <main class="container">
            <div th:if="${msg}" class="alert alert-success alert-dismissible text-center fade show" role="alert">
                <p th:text="${msg}" class="m-0"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <h2>Movies</h2>

            <a th:href="@{/admin/addMovie}" class="mt-2 btn btn-primary">Add movie</a>
        
            <table class="my-2 table border rounded table-hover" id="movie-list">
                <thead>
                    <tr>
                        <th></th>
                        <th>Movie</th>
                        <th>Release date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="movie: ${movies}">
                        <td class="text-center">
                            <img th:src="@{/assets/{filename} (filename = ${movie.coverUrl})}" th:alt="${movie.title} + '\'s cover'" class="movie-thumb img-thumbnail" id="movie-thumb"> 
                        </td>

                        <td>
                            <h3 th:text="${movie.title}"></h3>
                            <p th:text="${movie.synopsis}"></p>
                            <div class="d-flex gap-1">
                                <h6 th:each="genre: ${movie.genres}" th:text="${genre.title}" class="badge bg-secondary"></h6>
                            </div>
                        </td>

                        <td th:text="${#temporals.format(movie.releaseDate, 'dd/MM/yyyy')}">

                        </td>

                        <td class="">
                            <a th:href="@{/admin/editMovie/{id} (id = ${movie.id})}" class="btn btn-warning">Edit</a>
                            <a th:href="@{/admin/deleteMovie/{id} (id = ${movie.id})}" class="btn btn-danger" id="btn-delete-movie">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row mt-5" th:with="page = ${movies}">
                <div class="col-sm-6">
                    <div sd:pagination-sumary></div>
                </div>
                <div class="col-sm-6">
                    <nav>
                        <ul class="pagination" sd:pagination="full"></ul>
                    </nav>
                </div>
            </div>
        </main>
    </div>
</html>